<div>
    <div>
        <div class="example-sidenav-content">
            <button type="button" md-button (click)="sidenav.toggle()">
                Open sidenav
            </button>
        </div>
    </div>
    <hr>
    <div>
        <md-sidenav-container class="sidebar"> 
            <md-sidenav #sidenav mode="over" opened="false" class="example-sidenav">
                <md-card><a href="#">first</a></md-card>
                <md-card><a href="#">second</a></md-card>
                <md-card><a href="#">thrid</a></md-card>
            </md-sidenav>
            <ng-content></ng-content>
        </md-sidenav-container>
    </div>
</div>
