<form>
    <md-card>
        <md-card-title>Titulo</md-card-title>
        <md-card-subtitle>Subtitulo</md-card-subtitle>
        <md-card-content>
            Content do card
            <div>
                <md-form-field>
                    <input mdInput placeholder="Digite seu nome">
                </md-form-field>
                <br>
                <md-form-field>
                    <input mdInput placeholder="Digite seu email">
                </md-form-field>
            </div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary">Teste</button>
        </md-card-actions>
    </md-card>
</form>