<div>
    <form>
        <mat-card style="text-align: center">
            <mat-card-title>Titulo</mat-card-title>
            <mat-card-subtitle>Subtitulo</mat-card-subtitle>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Digite seu nome">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Digite seu email">
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Teste</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>