<div class="container">
<div>
    <div>
        <div class="example-sidenav-content">
            <button type="button" md-button (click)="sidenav.toggle()">
                Open sidenav
            </button>
        </div>
    </div>
    <hr>
    <div>
        <md-sidenav-container class="sidebar"> 
            <md-sidenav #sidenav mode="side" opened="false" class="example-sidenav">
                <!-- <md-card><a href="#">first</a></md-card>
                <md-card><a href="#">second</a></md-card>
                <md-card><a href="#">thrid</a></md-card> -->
                <md-nav-list>
                    <a md-list-item href="page1.html">Página inicial</a>
                    <a md-list-item href="page2.html">Page 2</a>
                    <a md-list-item href="page3.html">Page 3</a>
                </md-nav-list>
            </md-sidenav>
            <forms></forms>
        </md-sidenav-container>
    </div>
</div>
    
    <!-- <menu-lateral>
      <forms></forms>
    </menu-lateral> -->
</div>
<!-- <forms></forms> -->
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 -->
<!-- <md-checkbox>Inscreva-se nessa merda</md-checkbox> -->

<!-- <md-sidenav-container>
  <md-sidenav mode="side" opened="true">Drawer content</md-sidenav>
  <div class="my-content">Main content</div>
</md-sidenav-container> -->

<!-- <button md-icon-button (click)="sidenav.toggle()">
  <md-icon class="md-24" >menu</md-icon>
</button>￼
<md-sidenav #sidenav mode="side" class="app-sidenav">
  <md-nav-list>
      <a md-list-item href="page1.html">Page 1</a>
      <a md-list-item href="page2.html">Page 2</a>
      <a md-list-item href="page3.html">Page 3</a>
  </md-nav-list>
</md-sidenav> -->
<!-- <button md-icon-button (click)="sidenav.toggle()">
  <md-icon class="md-24" >menu</md-icon>
</button>￼
<md-sidenav-layout >
  <md-sidenav #sidenav mode="side" class="app-sidenav">
  <md-nav-list>
      <a md-list-item href="page1.html">Page 1</a>
      <a md-list-item href="page2.html">Page 2</a>
      <a md-list-item href="page3.html">Page 3</a>
  </md-nav-list>
      </md-sidenav>
      <md-toolbar color="primary">
          <button md-icon-button (click)="sidenav.toggle()">
              <md-icon class="md-24" >menu</md-icon>
          </button>
      </md-toolbar>
  <div class="app-content">
      Example Content area<br><br><br><br><br><br><br>
  </div>
</md-sidenav-layout> -->

<!-- <md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="over" opened="false" class="example-sidenav">
    <md-nav-list>
        <a md-list-item href="page1.html">Page 1</a><br>
        <a md-list-item href="page2.html">Page 2</a><br>
        <a md-list-item href="page3.html">Page 3</a><br>
    </md-nav-list>
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.toggle()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container> -->

<!-- <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.toggle()">
      Open sidenav
    </button>
</div> -->